@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Dela+Gothic+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Dela+Gothic+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   --font1: Verdana, Geneva, Tahoma, sans-serif;
   --font2:"Dela Gothic One", sans-serif;
   --font3:"Dela Gothic One", sans-serif;

}


 * {
    margin: 0px;
    padding: 0px;
    font-family: var(--font3);
 }

 html, body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--font1);
 }
 header {
    background-color: #e42518;
    color: white;
    text-align: center;
 }
 header > h1 {
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vh;
 }
 header > p {
    padding-bottom: 50px;
    font-family: var(--font2);

 }
 
 a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
 }

 a:hover {
    text-decoration: underline;
 }

 section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 1.5em;

 }


section.inicio {
    background-color: white;
    color: white;

}
section.inicio > p {
    width: 500px;
    padding-left: 10px;
    background-color:#39AA59 ;

}

section.iniciocarreira {
    
    background-color: white;
    color: white;
}
section.iniciocarreira > p {
    width: 500px;
    background-color: #39AA59;
    padding-left: 10px;
}

section.sportin {
    background-color: white;
    color: white;

}
section.sportin > p{
    width: 500px;
    background-color: #39AA59;
    padding-left: 10px;
}

section.united{
    background-color: white;
    color: white;
}

section.united > p {
    width: 500px;
    background-color: #39AA59;
    padding-left: 10px;
}

section.realmadrid {
    background-color: white;
    color: white;
}

section.realmadrid > p {
    width: 500px;
    background-color: #39AA59;
    padding-left: 10px;
}

section.juventus {
    background-color: white;
    color: white;
}

section.juventus > p {
    width: 500px;
    background-color: #39AA59;
    padding-left: 10px;
}

section.backtounited{
    background-color: white;
    color: white;
}

section.backtounited > p {
    width: 500px;
    background-color: #39AA59;
    padding-left: 10px;
}

section.arabia {
    background-color: white;
    color: white;
}

section.arabia > p {
    width: 500px;
    background-color: #39AA59;
    padding-left: 10px;
}
    
    
 footer {
    background-color: #017a35;
    color: white;
    text-align: center;
    padding: 10px;
 }